*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Gotham Rounded", sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(4, 7, 39);
}

.calculadora {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculadora > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(4, 88, 74);
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

/* botones directos de la clase y cambia el color del fondo del botón cuanod pasa el cursor*/
.calculadora > button:hover {
    background-color: rgba(233, 218, 218, 0.63);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(27, 26, 26, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 5px -5px 50px 5px rgb(4, 88, 74);
}

/*definen el tamaño de fuente y color de texto de cada elemento que se muestran el operador anterior y el operador actual*/
.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}
